---
const {title} = Astro.props
const {link} = Astro.props
const {href} =Astro.props
---
<a class="card--apps" href= {href}>
	<img src = {link} alt="imagen"><img/>
</a>



<style>
	.card--apps{
		background-color: none;
		display: flex;
		flex-direction: row;
		width: 100%;
        height: 320px;
		border-radius: 16px;
		cursor: pointer;
	}

	.card--apps img{
		max-width: 100%;
   		max-height: auto;
		border-radius: 16px;
	}


	.card--apps:hover{
		transform: scale(1.1);
	}

	@media screen and (max-width: 600px) {
	.card--apps{
		width: 100%;
        height: 100%;
		border-radius: 16px;
	}
    }


</style>