---
const {title} = Astro.props;
const {description} = Astro.props;
const {href} = Astro.props;
---

<div class="container">
    <h2>{title}</h2>
    <p>{description}</p>
    <a href={href}><button class="principal--section__button">Saber Mas</button></a>
</div>

<style>
.container{
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}



.container h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 72px;
    color: #FFFFFF;
    padding-bottom: 20px;

}

.container p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
    color: #FFFFFF;
    padding-bottom: 20px;

}

.principal--section__button{
		border: 1px solid #FFDC9A;
		border-radius: 7px;
		width: 187px;
        height: 56px;
		background-color: transparent;
		color:#FFDC9A;
		font-family: 'Poppins';
		font-style: normal;
		font-weight: 600;
		font-size: 1.25rem;
		line-height: 30px;
		cursor: pointer;
	}


    @media screen and (max-width: 600px) {

    .container h2{
    font-size: 28px;    
    }
    
    .container{
        align-items: center;
    }

}


</style>